# Clave secreta para firmar tokens JWT
JWT_SECRET=cambia_esto_por_una_clave_segura

# Rondas de sal para bcrypt
SALT_ROUNDS=10

# Puerto en el que escucha el servidor Express (por defecto 3000)
PORT=3000 No newline at end of file